* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #ac9f9f;
    position: fixed;
}

.container {
    width: 550px;
    height: 600px;
    padding: 30px;
    margin: 50px auto;
    background:#2b2b2b;
}

.input {
    width: 400px;
    height: 60px;
    font-size: 30px;
    background: #ac9f9f;
}

.clear {
    margin-left: 10px;
    width: 60px;
    height: 63px;
    font-size: 30px;
    color: white;
}

.num {
    margin-top: 40px;
    width: 130px;
    height: 60px;
    font-size: 30px;
    color: white;

}

.opr {
    margin-top: 40px;
    margin-left: 20px;
    width: 50px;
    height: 60px;
    font-size: 30px;
    color: white;
}

.equ {
    margin-top: 40px;
    width: 130px;
    height: 60px;
    font-size: 30px;
    color: white;
    text-align: center;
}